@font-face {
    font-family: headFont;
    src: url(Rockit.ttf);
}

.icon{
    margin-left: 50px;
}

nav{
    text-align: center;
    display: inline-flexbox;
}

a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

li{
    list-style-type: none;
    margin-right: 100px;
}

a:hover{
    text-decoration: none;
    color: grey;
}

.brandIcon{
    width: 50px;
    /* margin-left: 10opx; */
}

.navbar{
    background-color: rgba(255, 255, 255, 0.575);
}

h1{
    font-size: 60px;
}

body{
    background-image: url(bgImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.heading {  
    color: whitesmoke;
    font-size: 16px;  
    padding-top: 300px;
    text-align: center;
    border: 10px;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 39));
    -webkit-text-stroke: 1px black;
     font-family: headFont;
    
}

.backgroundImage{
    
    background-image: url("bgImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
